<link rel="stylesheet" type="text/css" href="/css/404.css" >
<div class="wrapper"> 
    
    <div></div>
    <div><p class="bigBoi" >404: You're on the wrong country road,</p></div>
    <div><a href="/home" class="button">take me home</a></div>
</div>