<link rel="stylesheet" type="text/css" href="/css/admin-jobs.css" >
     
    <div id= "jobsMain">
        
        <div id="topPanel">
                <div id="searchBarGrid">
                    <form action="/admin/client/search">
                        <input class="searchBar" id="searchBarGrid" type="text" placeholder="Search" name="searchParam" onchange=""> 
                </div>
               
                <a href="/admin/clients-add" target="content2"class="button" id ="addButton">
                    <p>Add+</p>
                </a>
        </div>
        {{#each saveResult}}
            <div id= "jobList">
            <div class = "jobItem">
                <a href="/admin/single-client?id={{this.idNumber}}" target="content2"> 
                <p class = "jobName"> {{this.name}} </p> 
                <p class = "jobID">{{this.idNumber}}</p>
                <p class = "jobDescription">{{this.notes}}</p></a>
            </div>
        </div>
        {{/each}}
</div>